@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Light theme colors */
  --background: #ffffff;
  --foreground: #171717;
  --card: #f9fafb;
  --border: #e5e7eb;
  --primary: #335eea;
  --secondary: #5c97f6;
  --info: #0ea5e9;
  --success: #10b981;
  --warning: #ffa913;
  --danger: #f63737;
}

html.dark {
  /* Dark theme colors */
  --background: #0a0a0a;
  --foreground: #e9e9e9;
  --card: #171717;
  --border: #252525;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
